Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
IndentAccessModifiers: true
AccessModifierOffset: -4

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<(GL/glew.h)>'
    Priority: 1

  - Regex: '<(GL/freeglut.h)>'
    Priority: 2

  - Regex: '^<[A-Za-z0-9_-]+>$'
    Priority: 3

  - Regex: '^"'
    Priority: 5

  - Regex: '^<'
    Priority: 4
